In [2]:
import pandas as pd
from sodapy import Socrata
import case_3_api as c3api

In [4]:

results_df = c3api.get_RDW_brandstof(limit=3000000,offset=0, where="brandstof_omschrijving='Elektriciteit'")
print(results_df.shape)
results_df.head()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

(10, 7)

,kenteken,brandstof_volgnummer,brandstof_omschrijving,emissiecode_omschrijving,uitlaatemissieniveau,opgegeven_maximum_snelheid,nettomaximumvermogen
0,0001TJ,1,Benzine,0,EURO 0,NaN,NaN
1,0001TV,1,Benzine,0,EURO 0,NaN,NaN
2,0001VH,1,Benzine,0,NaN,NaN,NaN
3,0001VM,1,Benzine,0,EURO 0,NaN,NaN
4,0002GV,1,Diesel,NaN,NaN,25.00,NaN

In [18]:
len(results_df)

1224231

In [10]:
df = c3api.get_RDW_brandstof(500000)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [11]:
df.value_counts('brandstof_omschrijving')

brandstof_omschrijving
Benzine          413537
Diesel            71486
LPG                7581
Elektriciteit      6786
Alcohol             259
CNG                 208
LNG                 134
Waterstof             9
dtype: int64

In [2]:

print(c3api.get_RDW_brandstof(100).head())
print(c3api.get_RDW_kenteken_df(100).head())
print(c3api.get_OCM_df(100).head())

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.
WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

  kenteken brandstof_volgnummer brandstof_omschrijving  \
0   0001TJ                    1                Benzine
1   0001TV                    1                Benzine
2   0001VH                    1                Benzine
3   0001VM                    1                Benzine
4   0002GV                    1                 Diesel

  emissiecode_omschrijving uitlaatemissieniveau opgegeven_maximum_snelheid  \
0                        0               EURO 0                        NaN
1                        0               EURO 0                        NaN
2                        0                  NaN                        NaN
3                        0               EURO 0                        NaN
4                      NaN                  NaN                      25.00

  nettomaximumvermogen geluidsniveau_rijdend geluidsniveau_stationair  \
0                  NaN                   NaN                      NaN
1                  NaN                   NaN                      NaN
2                  NaN                   NaN                      NaN
3                  NaN                   NaN                      NaN
4                  NaN                   NaN                      NaN

  roetuitstoot toerental_geluidsniveau
0          NaN                     NaN
1          NaN                     NaN
2          NaN                     NaN
3          NaN                     NaN
4          NaN                     NaN
  kenteken voertuigsoort     merk handelsbenaming vervaldatum_apk  \
0   H387JB  Personenauto     AUDI        A4 AVANT        20230918
1   H387JD  Personenauto  HYUNDAI            KONA        20240214
2   H387JF  Personenauto  CITROEN        BERLINGO        20230623
3   H387JG  Personenauto      KIA         PROCEED        20240213
4   H387JH  Personenauto       DS            DS 4        20240212

  datum_tenaamstelling bruto_bpm    inrichting aantal_zitplaatsen  \
0             20200207      4672  stationwagen                  5
1             20200214      1800           MPV                  5
2             20200611      4275  stationwagen                  5
3             20200213      8892     hatchback                  5
4             20200212      3503     hatchback                  5

  eerste_kleur  ... datum_eerste_toelating_dt  \
0        GRIJS  ...   2017-09-18T00:00:00.000
1          WIT  ...   2020-02-14T00:00:00.000
2        BLAUW  ...   2008-05-29T00:00:00.000
3          WIT  ...   2020-02-13T00:00:00.000
4          WIT  ...   2016-01-15T00:00:00.000

  datum_eerste_tenaamstelling_in_nederland_dt zuinigheidsclassificatie  \
0                     2020-02-07T00:00:00.000                        B
1                     2020-02-14T00:00:00.000                        A
2                     2020-06-11T00:00:00.000                      NaN
3                     2020-02-13T00:00:00.000                        C
4                     2020-02-12T00:00:00.000                        B

                 api_gekentekende_voertuigen_assen  \
0  https://opendata.rdw.nl/resource/3huj-srit.json
1  https://opendata.rdw.nl/resource/3huj-srit.json
2  https://opendata.rdw.nl/resource/3huj-srit.json
3  https://opendata.rdw.nl/resource/3huj-srit.json
4  https://opendata.rdw.nl/resource/3huj-srit.json

             api_gekentekende_voertuigen_brandstof  \
0  https://opendata.rdw.nl/resource/8ys7-d773.json
1  https://opendata.rdw.nl/resource/8ys7-d773.json
2  https://opendata.rdw.nl/resource/8ys7-d773.json
3  https://opendata.rdw.nl/resource/8ys7-d773.json
4  https://opendata.rdw.nl/resource/8ys7-d773.json

           api_gekentekende_voertuigen_carrosserie  \
0  https://opendata.rdw.nl/resource/vezc-m2t6.json
1  https://opendata.rdw.nl/resource/vezc-m2t6.json
2  https://opendata.rdw.nl/resource/vezc-m2t6.json
3  https://opendata.rdw.nl/resource/vezc-m2t6.json
4  https://opendata.rdw.nl/resource/vezc-m2t6.json

  api_gekentekende_voertuigen_carrosserie_specifiek  \
0   https://opendata.rdw.nl/resource/jhie-znh9.json
1   https://opendata.rdw.nl/resource/jhie-znh9.json
2   https://opendata.rdw.nl/resource/jhie-znh9.json
3   https://opendata.rdw.nl/resource/jhie-znh9.json
4   https://opendata.rdw.nl/resource/jhie-znh9.json

        api_gekentekende_voertuigen_voertuigklasse hoogte_voertuig  \
0  https://opendata.rdw.nl/resource/kmfi-hrps.json             NaN
1  https://opendata.rdw.nl/resource/kmfi-hrps.json             157
2  https://opendata.rdw.nl/resource/kmfi-hrps.json             NaN
3  https://opendata.rdw.nl/resource/kmfi-hrps.json             142
4  https://opendata.rdw.nl/resource/kmfi-hrps.json             NaN

                       plaats_chassisnummer
0                                       NaN
1                                       NaN
2  tegen r. schroefveerkoker onder motorkap
3                                       NaN
4                                       NaN

[5 rows x 61 columns]
   IsRecentlyVerified      DateLastVerified      ID  \
0                True  2023-03-15T11:19:00Z  256957
1                True  2023-03-04T15:56:00Z  238390
2                True  2023-03-04T15:52:00Z  238389
3                True  2023-03-04T15:49:00Z  238388
4                True  2023-03-04T14:27:00Z  238387

                                   UUID  DataProviderID  OperatorID  \
0  C274DD57-63EE-4953-8723-61A928DC8A64               1         1.0
1  54DE6F07-8F83-4D6C-AC5C-F46C3CC5AF40               1        47.0
2  2A59654E-C064-4234-AD9F-9E814387FE0B               1        47.0
3  2C11156F-072A-416A-9489-B2D96889BD9F               1        47.0
4  7CC524E9-1377-47C2-97A5-B616B76DD825               1        47.0

   UsageTypeID                                        Connections  \
0          6.0                                                 []
1          4.0  [{'ID': 392175, 'ConnectionTypeID': 33, 'Statu...
2          4.0  [{'ID': 392173, 'ConnectionTypeID': 33, 'Statu...
3          4.0  [{'ID': 392171, 'ConnectionTypeID': 33, 'Statu...
4          4.0  [{'ID': 392170, 'ConnectionTypeID': 33, 'Statu...

   NumberOfPoints  StatusTypeID  ... ConnectionTypeID  StatusTypeID LevelID  \
0             1.0            50  ...              NaN           NaN     NaN
1             1.0            50  ...             33.0          50.0     3.0
2             6.0            50  ...             33.0          50.0     3.0
3             1.0            50  ...             33.0          50.0     3.0
4             2.0            50  ...             33.0          50.0     3.0

   PowerKW  CurrentTypeID Quantity Reference Amps Voltage  Comments
0      NaN            NaN      NaN       NaN  NaN     NaN       NaN
1     50.0           30.0      1.0       NaN  NaN     NaN       NaN
2    175.0           30.0      6.0       NaN  NaN     NaN       NaN
3     50.0           30.0      1.0       NaN  NaN     NaN       NaN
4    175.0           30.0      2.0       NaN  NaN     NaN       NaN

[5 rows x 45 columns]

In [26]:
client = Socrata("opendata.rdw.nl", None)
results = client.get("m9d7-ebf2", limit=2000,offset=1)
results_df = pd.DataFrame.from_records(results)
results_df.shape

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

(2000, 67)

In [17]:
len(client.get_metadata("m9d7-ebf2")['columns'])

92